[submodule "lib/Type-C.pretty"]
	path = lib/Type-C.pretty
	url = https://github.com/ai03-2725/Type-C.pretty.git
[submodule "lib/MX_Alps_Hybrid.pretty"]
	path = lib/MX_Alps_Hybrid.pretty
	url = https://github.com/ai03-2725/MX_Alps_Hybrid.pretty.git
[submodule "lib/jmdaly_keyboard_parts.pretty"]
	path = lib/jmdaly_keyboard_parts.pretty
	url = git@gitlab.com:jmdaly/jmdaly_keyboard_parts.pretty.git
[submodule "lib/digikey-kicad-library"]
	path = lib/digikey-kicad-library
	url = https://github.com/digikey/digikey-kicad-library.git
